name: clang-format

on:
  push:
  pull_request:
    branches:
    - master

jobs:
  build:
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        - windows-latest
        cxx:
        - clang++
        - gcc++
        - cl
        cxx_version:
        - c++14
        - c++17
        - c++2a
        exclude:
          - os: ubuntu-latest
            cxx: cl
          - os: macos-latest
            cxx: cl
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - name: install dependencies
      if: ${{ matrix.os == ubuntu-latest }}
      run: |
        sudo apt update
        sudo apt install libboost-all-dev
    - name: install dependencies
      if: ${{ matrix.os == macos-latest }}
      run: |
        brew install boost
    - name: test
      run: |
        make test
      env:
        CXX: ${{ matrix.cxx }}
        CXX_VERSION: ${{ matrix.cxx_version }}
