name: CI

on:
  push:
  pull_request:
    branches:
    - master

jobs:
  build:
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        cxx:
        - clang++
        - g++
        cxx_version:
        - c++14
        - c++17
        - c++2a
        exclude:
          - os: ubuntu-latest
            cxx: clang++
            cxx_version: c++2a
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - name: install dependencies
      if: ${{ matrix.os == 'ubuntu-latest' }}
      run: |
        sudo apt update
        sudo apt install libboost-all-dev
    - name: install dependencies
      if: ${{ matrix.os == 'macos-latest' }}
      run: |
        brew install boost
    - name: test
      run: |
        make -B
      env:
        CXX: ${{ matrix.cxx }}
        CXX_VERSION: ${{ matrix.cxx_version }}
