name: clang-format

on:
  push:
    branches: 
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: install tools
      run: |
        sudo apt update
        sudo apt install clang-format-10
    - name: refactor
      run: |
        clang-format-10 --version
        clang-format-10 -i -style=file py_string.hpp
    - name: Commit changes
      uses: EndBug/add-and-commit@v5
      with:
        author_name: GitHub Actions
        author_email: 41658782+ChanTsune@users.noreply.github.com
        message: "Refactor by Github Actions"
      env:
        GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
